* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#sky {
  height: 100%;
  background: #c9dbe9;
  background: linear-gradient(to bottom, #c9dbe9 0%, #fff 100%);
}

#night {
  padding-top: 100px;
  height: 100%;
  position: absolute;
  width: 100%;
  background: #0A3F68;
  z-index: 0;
  animation: colorSky 120s linear infinite;
  animation-delay: 5s;
}

.cloud {
  background: white;
  width: 200px;
  height: 60px;
  border-radius: 200px;
  position: absolute;
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: white;
  width: 100px;
  height: 80px;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  transform: rotate(30deg);
}

.cloud::after {
  height: 120px;
  width: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

.c1 {
  animation: moveclouds 18s linear infinite;
}

.c2 {
  left: 200px;
  top: 100px;
  transform: scale(1.2);
  opacity: 0.6;
  animation: moveclouds 24s linear infinite;
}

.c3 {
  left: 450px;
  top: 170px;
  transform: scale(0.9);
  opacity: 0.6;
  animation: moveclouds 21s linear infinite;
}

.c4 {
  left: 600px;
  top: 140px;
  animation: moveclouds 18s linear infinite;
}

.c5 {
  left: 840px;
  top: 180px;
  transform: scale(1.2);
  opacity: 0.9;
  animation: moveclouds 25s linear infinite;
}

#sun {
  top: 80%;
  right: 15%;
  border-radius: 100%;
  background: #FFFCA4;
  height: 150px;
  width: 150px;
  position: relative;
  z-index: 999;
  animation: sunrise 60s linear infinite;
  animation-delay: 5s;
}

#sun::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: .2;
  border-radius: 100%;
  background: rgb(100%, 59.6%, 0%);
  height: 120px;
  width: 120px;
}

#sun::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border-radius: 100%;
  border: 10px solid red;
  opacity: .2;
  height: 150px;
  width: 150px;
}

.star {
  position: relative;
  color: white;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid white;
  border-left: 100px solid transparent;
  transform: rotate(35deg) scale(.05);
}

.star:before {
  border-bottom: 80px solid white;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  color: white;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid white;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.s1 {
  left: 300px;
  top: 30px;
  animation: twinkle 2s linear infinite;
}

.s2 {
  left: 500px;
  top: 90px;
  animation: twinkle 5s linear infinite;
}

.s3 {
  left: 700px;
  top: -120px;
  animation: twinkle 3s linear infinite;
}

.s4 {
  left: 900px;
  top: -50px;
  animation: twinkle 8s linear infinite;
}

.s5 {
  left: 1000px;
  top: -280px;
  animation: twinkle 1s linear infinite;
}

.s6 {
  left: 100px;
  top: -240px;
  animation: twinkle 3s linear infinite;
}

.s7 {
  left: 360px;
  top: -180px;
  animation: twinkle 7s linear infinite;
}

.s8 {
  left: 320px;
  top: -60px;
  animation: twinkle 5s linear infinite;
}

.s9 {
  left: 740px;
  top: -230px;
  animation: twinkle 3s linear infinite;
}

.s10 {
  left: 170px;
  top: -330px;
  animation: twinkle 8s linear infinite;
}

.s11 {
  left: 70px;
  top: -130px;
  animation: twinkle 4s linear infinite;
}

.s12 {
  left: 670px;
  top: -190px;
  animation: twinkle 2s linear infinite;
}

#pyramid {
  width: 0;
  height: 0;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  bottom: -130px;
  position: absolute;
  left: 37%;
  border-left: 200px solid orange;
  transform: rotate(45deg);
  animation-delay: 5s;
  animation: pyramidShadeLeft 60s linear infinite;
}

#pyramid::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  bottom: -100px;
  position: absolute;
  left: -100px;
  border-left: 200px solid orange;
  transform: rotate(90deg);
  animation-delay: 5s;
  animation: pyramidShadeRight 60s linear infinite;
}

#flying-saucer {
  width: 300px;
  border: 1px solid black;
  border-radius: 60%;
  height: 110px;
  transform: rotate(180deg) scale(.65);
  box-shadow: inset 0px 10px 0 0 #747874;
  position: relative;
  top: 80px;
  left: -10%;
  background: #C9CDD4;
  background: radial-gradient(#FFFFFF, #C9CDD4, #738198, #333333);
  animation: flySaucer 60s ease-in-out infinite;
}

#flying-saucer::after {
  content: "";
  position: absolute;
  border: 2px solid #C4C4C9;
  width: 150px;
  border-radius: 50%;
  height: 90px;
  left: 24%;
  top: 45%;
  background: #B7C7B8;
  background: radial-gradient(#B7C7B8, #50A851, blue);
  box-shadow: inset 0px 10px 0 0 #747874;
}

#flying-saucer .light {
  border-radius: 50%;
  background: #E72C27;
  position: absolute;
}

#flying-saucer .light.l1 {
  height: 7px;
  width: 7px;
  top: 85px;
  left: 230px;
  animation: saucerLight .5s linear infinite;
}

#flying-saucer .light.l2 {
  height: 8px;
  width: 8px;
  top: 74px;
  left: 260px;
  animation-delay: 1s;
  animation: saucerLightReverse .5s linear infinite;
}

#flying-saucer .light.l3 {
  height: 9px;
  width: 9px;
  top: 60px;
  left: 280px;
  animation: saucerLight .5s linear infinite;
}

#flying-saucer .light.l4 {
  height: 9px;
  width: 9px;
  top: 43px;
  left: 268px;
  animation: saucerLightReverse .5s linear infinite;
}

#flying-saucer .light.l5 {
  height: 10px;
  width: 10px;
  top: 30px;
  left: 240px;
  animation: saucerLight .5s linear infinite;
}

#flying-saucer .light.l6 {
  height: 10px;
  width: 10px;
  top: 21px;
  left: 206px;
  animation: saucerLightReverse .5s linear infinite;
}

#flying-saucer .light.l7 {
  height: 10px;
  width: 10px;
  top: 17px;
  left: 164px;
  animation: saucerLight .5s linear infinite;
}

#flying-saucer .light.l8 {
  height: 10px;
  width: 10px;
  top: 17px;
  left: 122px;
  animation: saucerLightReverse .5s linear infinite;
}

#flying-saucer .light.l9 {
  height: 10px;
  width: 10px;
  top: 23px;
  left: 80px;
  animation: saucerLight .5s linear infinite;
}

#flying-saucer .light.l10 {
  height: 10px;
  width: 10px;
  top: 36px;
  left: 40px;
  animation: saucerLightReverse .5s linear infinite;
}

#flying-saucer .light.l11 {
  height: 9px;
  width: 9px;
  top: 56px;
  left: 10px;
  animation: saucerLight .5s linear infinite;
}

#flying-saucer .light.l12 {
  height: 8px;
  width: 8px;
  top: 72px;
  left: 23px;
  animation: saucerLightReverse .5s linear infinite;
}

#flying-saucer .light.l13 {
  height: 7px;
  width: 7px;
  top: 85px;
  left: 47px;
  animation: saucerLight .5s linear infinite;
}

@keyframes saucerLight {
  from {
    background: #950400;
  }
  to {
    background: #E72C27;
  }
}

@keyframes saucerLightReverse {
  from {
    background: #E72C27;
  }
  to {
    background: #950400;
  }
}

@keyframes flySaucer {
  0% {
    margin-left: -10%;
    transform: rotate(190deg) scale(.65);
  }
  1% {
    transform: rotate(190deg) scale(.65);
  }
  4% {
    transform: rotate(180deg) scale(.65);
    margin-left: 50%;
    top: 160px;
  }
  8% {
    transform: rotate(170deg) scale(.65);
    margin-left: 29%;
  }
  7% {
    transform: rotate(180deg) scale(.65);
    margin-left: 30%;
  }
  9% {
    transform: rotate(190deg) scale(.65);
    margin-left: 110%;
    top: 50px;
  }
  100% {
    transform: rotate(190deg) scale(.65);
    margin-left: 110%;
  }
}

@keyframes moveclouds {
  0% {
    margin-left: 105%;
  }
  100% {
    margin-left: -105%;
  }
}

@keyframes sunrise {
  0% {
    background: white;
    top: 80%;
    right: 15%;
  }
  50% {
    background: #FFFCA4
  }
  95% {
    background: #F4AA93;
  }
  100% {
    background: #FFFCA4;
    top: -30%;
    right: -130%;
  }
}

@keyframes colorSky {
  0% {
    background: #0A3F68;
    opacity: 1;
  }
  4% {
    background: #F2C6DD;
  }
  7% {
    background: #BEB2DA;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    background: #F2C6DD;
  }
  45% {
    background: #BEB2DA;
  }
  50% {
    background: #0A3F68;
    opacity: 1;
  }
  57% {
    background: #F2C6DD;
    opacity: 0;
  }
  87% {
    background: #F2C6DD;
    opacity: 0;
  }
  93% {
    background: #BEB2DA;
  }
  100% {
    background: #0A3F68;
    opacity: 1;
  }
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colorClouds {
  0% {
    background: #2E5180;
  }
  4% {
    background: #5C97C1;
  }
  7% {
    background: #D5EFFC;
  }
  30% {
    background: white;
  }
  40% {
    background: #D5EFFC;
  }
  45% {
    background: #5C97C1;
  }
  50% {
    background: #2E5180;
  }
  57% {
    background: #5C97C1;
  }
  87% {
    background: #D5EFFC;
  }
  93% {
    background: #5C97C1;
  }
  100% {
    background: #2E5180;
  }
}

@keyframes pyramidShadeLeft {
  0% {
    border-left: 200px solid #C68000;
  }
  16% {
    border-left: 200px solid orange;
  }
  50% {
    border-left: 200px solid orange;
  }
  62% {
    border-left: 200px solid #C68000;
  }
  100% {
    border-left: 200px solid #C68000;
  }
}

@keyframes pyramidShadeRight {
  0% {
    border-left: 200px solid #C68000;
  }
  16% {
    border-left: 200px solid #C68000;
  }
  50% {
    border-left: 200px solid #C68000;
  }
  62% {
    border-left: 200px solid orange;
  }
  90% {
    border-left: 200px solid orange;
  }
  100% {
    border-left: 200px solid #C68000;
  }
}